/* CSS related to App.jsx */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #333;
}
.appHeader {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #99c1ec21;
  font-size: 1.5rem;
}

.main {
  min-height: calc(100% - 12.3rem);
  background: linear-gradient(to bottom, #0091ff, #ffa500);
  padding: 2rem;
  align-items: center;
}

.box {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 1rem;
}

.animeImage {
  max-width: 30%;
  height: auto;
  margin: 1rem 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.animeTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}
.animeDescription {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-top: 1.5rem;
}

.footer {
  background-color: #99c1ec21;
  padding: 1rem;
  text-align: center;
  color: white;
}
